<h1> Food Tracker <h1>
<h3><%= link_to "Add Food", "/food/new", method: :get %> </h3>

<% flash.each do |type, msg| %>
  <div>
   <h2> <%= msg %> </h2>
  </div>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Category</th>
      <th scope="col">Expiration Date</th>
      <th scope="col">Edit Food</th>
      <th scope="col">Delete Food</th>
    </tr>
  </thead>
  <tbody>
    <% @food.each do |item| %>
    <tr>
      <th scope="row"><%= item.name %></th>
      <td><%= item.category %></td>
      <td><%= item.expiration_date %></td>
      <td><%= item.brand %> </td>
      <td><%= item.location %> </td>
      <td><%= link_to "Edit #{item.name}", edit_food_path(item.id) %></td>
      <td><%= link_to "Delete #{item.name}", food_path(item.id), method: :delete %></td>
    </tr>
    <% end %>
  </tbody>
</table>
        

