<div>
<h1> Food Tracker <h1>
<h3><%= link_to "Add Food", "/food/new", method: :get %> </h3>

<table class="table table-bordered table-striped">
  <thead class ="thead-dark">
    <tr>
      <th scope="col">Name
      <%= link_to "A-Z", sort: "alphabetize_asc" %></th>
      <th scope="col">Category
      <%= link_to "Sort", sort: "category_asc" %></th>
      <th scope="col">Expiration Date
      <%= link_to "Date Sort", sort: "expiration_date_asc" %></th>
      <th scope="col">Edit Food</th>
      <th scope="col">Delete Food</th>
    </tr>
  </thead>
  <tbody>
    <% @food.oldest_to_newest.each do |item|%>
    <tr>
      <th scope="row"><%= item.name %></th>
      <td><%= item.category %></td>
        <% if item.expiration_date.blank? %>
          <td><%= item.expiration_date %></td>
          <td><%= link_to "Edit #{item.name}", edit_food_path(item.id) %></td>
          <td><%= link_to "Delete #{item.name}", food_path(item.id), method: :delete %></td>
        <% elsif Date.today.to_s > item.expiration_date  %>
          <td style="background-color:Red;"><%= item.expiration_date %></td>
          <td><%= link_to "Edit #{item.name}", edit_food_path(item.id) %></td>
          <td><%= link_to "Delete #{item.name}", food_path(item.id), method: :delete %></td>
        <% elsif (Date.today + 7).to_s > item.expiration_date %>
          <td style="background-color:Yellow;"><%= item.expiration_date %></td>
          <td><%= link_to "Edit #{item.name}", edit_food_path(item.id) %></td>
          <td><%= link_to "Delete #{item.name}", food_path(item.id), method: :delete %></td>
        <% else %>
          <td style="background-color:Green;"><%= item.expiration_date %></td>
          <td><%= link_to "Edit #{item.name}", edit_food_path(item.id) %></td>
          <td><%= link_to "Delete #{item.name}", food_path(item.id), method: :delete %></td>
    </tr>
    <% end %> 
    <% end %>
  </tbody>
</table>
</div>

