<% flash.each do |type, msg| %>
  <div>
   <h2> <%= msg %> </h2>
  </div>
<% end %>

<%= form_with url: "/food", method: :post, local: true do |form| %>
    <p><%= form.label :name, "Foods Name" %></p>
    <%= form.text_field :name %>
    <p><%= form.label :category, "Type Category of Food" %></p>
    <%= form.text_field :category %>
    <p><%= form.label :expiration_date, "Select Food's Expiration Date" %></p>
    <%= form.date_field :expiration_date %>
    <p><%= form.label :brand, "Brand of Food Item" %></p>
    <%= form.text_field :brand %>
    <p><%= form.label :location, "Where is it located in your kitchen?" %></p>
    <%= form.text_field :location %>
    <p><%= form.submit "Submit" %></p>
<% end %>

